<div class="container-fluid fond d-flex align-items-center">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-md-5 font-subtitlebug subtitlecolor offset-lg-2 mt-5">
      <div class="col-lg-7 col-md-12 col-sm-11 mt-5 font-subtitle">
        YOU FIXED THE BUG !
        <br><br>
        BUT NO TRACKS OF THE MOON !
      </div>
      <div class="text-white col-lg-8 col-sm-11">
        <br>
        The poor satellite is derivating in the long space road
        but he will discover a lot of new friends
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 offset-2 offset-lg-1 offset-md-2 mt-3">
        <img src="../../assets/satellite_derive2.png" class="img-fluid" alt="Responsive image" style="height:25em;">
    </div>
    <div class="col-0 col-lg-12 col-sm-12 col-md-12 mt-lg-5 mt-md-5"></div>
    <div class="col-0 col-lg-12 col-sm-12 col-md-12 mt-lg-5 mt-md-5"></div>
    <div class="col-0 col-lg-12 col-sm-12 col-md-12 mt-0"></div>
    <div routerLink="/we-ll-be-back" id="niveau2-button-to-teaser" class="col-lg-3 col-sm-3 offset-lg-9 offset-3 offset-sm-8 font-subtitlebug subtitlecolor d-flex align-items-end marginbug mt-5">CONTINUE</div>
  </div>
</div>

