
    <div class="font-sutitle" > 
    <div class="col-12 icone"></div>
    <div class="col-12 icone"></div>
    <div class="col-12 icone  "><a class="menu-a bgcolor nav-a" href=""><strong>CONNECTION</strong></a></div>    
    <div class="col-12 icone  "><a class="menu-a bgcolor nav-a" href=""><strong>EXPLORATION</strong></a></div>
    <div class="col-12 icone  "><a class="menu-a bgcolor nav-a" href=""><strong>TABLEAU DE BORD</strong></a></div>
    <div class="col-12 icone  "><a class="menu-a bgcolor nav-a" href=""><strong>MON SATELLITE</strong></a></div>
    </div>
   
