.welcomePage-background {
    width: 100%;
    min-height: 100%;
    background-color: #a3c4e2;
    display: flex;  
}

@media screen and (min-width:480px){
    .welcomePage-background {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width:480px){
    .welcomePage-background {
        flex-direction: column;
    }
}



/* ------ Content ------ */

.welcomePage-content-container {
    min-height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

@media screen and (min-width:959px){
    .welcomePage-content-container {
        width: 40%;
    }
}

@media screen and (min-width:480px) and (max-width:959px) {
    .welcomePage-content-container {
        width: 50%;
    }
}

@media screen and (max-width:480px){
    .welcomePage-content-container {
        margin-top:8em;
        width: 80%;
    }
}

.welcomePage-paragraph-form-container {
    width: 100%;
}

/* text  */

.welcomePage-title {
    color:#FFD45C;
}

.welcomePage-text {
    color: #fff;
}

/* form  */

.welcomePage-form {
    width: 100%;
}

/* ------ Image ------ */

.welcomePage-image-container {
    height: 40em;
    background-image: url(./WelcomePageBackgrounds/Accueil_Background1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    align-self: flex-end;
    transition:0.3s;
}

@media screen and (min-width:959px){
    .welcomePage-image-container {
        margin-right: 17%;
        width: 20em;
        background-size: 18em;
    }
}

@media screen and (min-width:480px) and (max-width:959px){
    .welcomePage-image-container {
        margin-right: 10%;
        width: 20em;
        background-size: 16em;
    }
}

@media screen and (max-width:480px){
    .welcomePage-image-container { 
        margin: 0 auto;
        width: 20em;
        background-size: 18em;
        
    }
}