<div id="tableau-de-bord-Background">
    <div id="tableau-de-bord-container">
        <!-- Earth -->
            <div id="tableau-de-bord-earth-position" class="tableau-de-bord-position">
                <div id="tableau-de-bord-earth-container" class="tableau-de-bord-planet-container">
                    <div id="tableau-de-bord-earth-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-earth-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 1</p></div>
                    </div>
                    <div id="tableau-de-bord-earth-img" class="tableau-de-bord-img">
                        <!-- infos -->
                            <div id="tableau-de-bord-earth-info-container" class="tableau-de-bord-info-container">
                                    <div id="tableau-de-bord-earth-info" class="tableau-de-bord-info">
                                        <div id="tableau-de-bord-earth-info-img-text" class="tableau-de-bord-info-img-text">
                                            <div id="tableau-de-bord-earth-info-img" class="tableau-de-bord-info-img"></div>
                                            <div id="tableau-de-bord-earth-info-text" class="tableau-de-bord-info-text">
                                                    Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                            </div>
                                        </div>
                                        <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                    </div>
                            </div>
                    </div>
                    <div id="tableau-de-bord-earth-title" class="tableau-de-bord-titles">Earth</div>
                </div>
            </div>
            
        <!-- Moon -->
            <div id="tableau-de-bord-moon-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-moon-container" class="tableau-de-bord-planet-container">
                    <div id="tableau-de-bord-moon-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-moon-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 2</p></div>
                    </div>
                    <div id="tableau-de-bord-moon-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-moon-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-moon-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-moon-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-moon-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-moon-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-moon-title" class="tableau-de-bord-titles">Moon</div>
                </div>
            </div>
        <!-- bug -->
        <div id="tableau-de-bord-bug-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-bug-container" class="tableau-de-bord-planet-container">
                    <div id="tableau-de-bord-bug-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-bug-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 3</p></div>
                    </div>
                </div>
            </div>
        <!-- Mars -->
            <div id="tableau-de-bord-mars-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-mars-container" class="tableau-de-bord-planet-container">
                    <div id="tableau-de-bord-mars-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-mars-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-mars-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-mars-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-mars-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-mars-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-mars-title" class="tableau-de-bord-titles">Mars</div>
                    <div id="tableau-de-bord-mars-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-mars-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 4</p></div>
                    </div>
                </div>
            </div>
        <!-- Asteroide -->
            <div id="tableau-de-bord-asteroide-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-asteroide-container" class="tableau-de-bord-planet-container">
                    <div id="tableau-de-bord-asteroide-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-asteroide-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 5</p></div>
                    </div>
                    <div id="tableau-de-bord-asteroide-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-asteroide-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-asteroide-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-asteroide-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-asteroide-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-asteroide-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-asteroide-title" class="tableau-de-bord-titles">Asteroide</div>   
                </div>
            </div>
         <!-- Jupiter -->
            <div id="tableau-de-bord-jupiter-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-jupiter-container" class="tableau-de-bord-planet-container">  
                    <div id="tableau-de-bord-jupiter-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-jupiter-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-jupiter-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-jupiter-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-jupiter-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-jupiter-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-jupiter-title" class="tableau-de-bord-titles">Jupiter</div>  
                    <div id="tableau-de-bord-jupiter-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-jupiter-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 6</p></div>
                    </div> 
                </div>    
            </div>
        <!-- Saturne -->
            <div id="tableau-de-bord-saturne-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-saturne-container" class="tableau-de-bord-planet-container">  
                    <div id="tableau-de-bord-saturne-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-saturne-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-saturne-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-saturne-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-saturne-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-saturne-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-saturne-title" class="tableau-de-bord-titles">Saturne</div>  
                    <div id="tableau-de-bord-saturne-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-saturne-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 7</p></div>
                    </div> 
                </div>
            </div>
        <!-- Titan -->
            <div id="tableau-de-bord-titan-position" class="tableau-de-moon-position">
                <div id="tableau-de-bord-titan-container" class="tableau-de-bord-planet-container">  
                    <div id="tableau-de-bord-titan-point-container" class="tableau-de-bord-point-container">  
                        <div id="tableau-de-bord-titan-point" class="tableau-de-bord-point"><div class="tableau-de-bord-innerpoint"></div></div>
                        <div class="tableau-de-bord-point-title"><p>Niveau 8</p></div>
                    </div> 
                    <div id="tableau-de-bord-titan-img" class="tableau-de-bord-img">
                        <!-- infos -->
                        <div id="tableau-de-bord-titan-info-container" class="tableau-de-bord-info-container">
                                <div id="tableau-de-bord-titan-info" class="tableau-de-bord-info">
                                    <div id="tableau-de-bord-titan-info-img-text" class="tableau-de-bord-info-img-text">
                                        <div id="tableau-de-bord-titan-info-img" class="tableau-de-bord-info-img"></div>
                                        <div id="tableau-de-bord-titan-info-text" class="tableau-de-bord-info-text">
                                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
                                        </div>
                                    </div>
                                    <div id="tableau-de-bord-earth-info-button" class="tableau-de-bord-info-button font-subtitle">View More</div>
                                </div>
                        </div>
                    </div>
                    <div id="tableau-de-bord-titan-title" class="tableau-de-bord-titles">Titan</div>    
                </div>
            </div>
    </div>
    <!-- Bouton left and Right -->
    <!-- <div id="tableau-de-bord-nav-button-container">
        <div id ="tableau-de-bord-nav-button-left" class="tableau-de-bord-nav-button"></div>
        <div id ="tableau-de-bord-nav-button-right" class="tableau-de-bord-nav-button"></div>
    </div> -->
</div>