
#burger {
    z-index:2;
    margin-left:2vh;
    margin-top:3vh; 
    position:fixed;  
    top: 0;
    left:0; 
    overflow-x: hidden;
}
.logo{
    background-color: rgb(26,26,26,0.9);  
    }
    /* ajouté suite au clic sur le logo */
.Onit{
    z-index:4;
    height:100vh;
    width: 40vh;
    background-color: rgb(26,26,26,0.9);
    transition-duration: 0.5s;
    transition-timing-function:linear ;
    transition-delay: 0s; 
    padding-top: 15vh; 
    padding-left:2vh; 
}
.icone{
    height: 5vh;
    width: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(26,26,26,0);
    border: 0px;
    cursor: pointer; 
    border: none;
    outline: none;;   
}
.nav-a, .nav-a:visited, .nav-a:hover, .nav-a:focus, .nav-a:active  { 
	text-decoration:none; 
}
.lienNavBar {
    color: #FFD45C;
    padding-left: 7vh;
    width: 25vh;
    display: inline-block;
    text-align: left;  
}

    
@media screen and (max-width:720px){
    .Onit {
        width: 100vh;
        top: 0;
        left:0;
        overflow-x: hidden; /* Disable horizontal scroll */
        height: 100vh;
        background-color: rgb(26,26,26,0.9); 
    }
}