
.icone{
    height: 8vh;
    width: 7vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(255,255,255,0);
    border: 0px;
    cursor: pointer;    
}

.nav-a, .nav-a:visited, .nav-a:hover, .nav-a:focus, .nav-a:active  { 
	text-decoration:none; 
}
.lienNavBar {
    color: #FFD45C;
    padding-left: 12vh;
    width: 25vh;
    display: inline-block;
    text-align: left;
    
}
.bigMenu{
    background-color: rgb(26,26,26,0.9);
    height:100vh;
    transition-duration: 0.5s;
    transition-timing-function:linear ;
    transition-delay: 0s;  
}
#bigMenu{
    padding-left: 5vh;
    padding-top:5vh;
   
}
