.titlecolor {
    color:#FFD45C;
}

.bgcolor {
    background-color: #FFD45C;
    border-radius: 0px;
}

.bgcontainer {
    background-color: #cfdbfc;
}

.niveau1-fond {
    background-color: #0000FF;
    width: 100%;
    height: 100%;  
}

/* .backgroundimage {
    background-image: url(../../assets/Niveau2_fond2.png) ; 
    background-repeat: no-repeat;
    background-size: cover;
} */


.textcolor {
    color: white;
}

.fontbuttonsize {
    font-size: 0.6rem;
    color: #1d1d2d;
}

.answerfontsize {
    font-size: 2em;
}


.pageSize {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.no-gutters {
margin-right: 0;
margin-left: 0;
} 

.encrelune {
    text-decoration: none;
}

.rectangle {
    border-style: solid;
    width: 100em;
    height: 50em;
}