   /*Taille Zone*/
.bigPicture{
       height:80vh; 
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}
.minPicture{
    height:20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;   
}
.pageSize {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
   
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.zoneText{
    height:80vh;
    background-color:#c9b097;    
}
.zoneContinue{
    height:20vh;
    background-color:#c9b097;
}
.continueButtom{
    padding-top:5vh;
}
/* image */
.triangle{
    height:10vh;
    background-color:#c9b097;
    background-image: url(../../assets/triangle.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}
.continueArrow{
    font-size: 1.7rem;
}
