#teaser-background{
    width: 100%;
    height: 100vh;
    background:#000;
    transition:2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#teaser-image {
    margin-top:-10vh;
    width:20%;
    height: 40vw;
    background-image: url(/assets/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#teaser-numero {
    margin-top: -45vh;
    margin-left: 10%;
    color: red;
    font-size: 20em;
    font-weight: 800;
    transform: rotate(10deg);
}
#teaser-title{
    margin-top: -4vh;
    font-size: 3em;
    color:#fff;
}