<div class="niveau1-fond pb-2">
  <div class="container niveau1-fond d-flex justify-content-end d-flex align-items-end backgroundimage">
          <div class="row mr-4">
            <div class="col-12 col-md-10 col-lg-12 d-flex justify-content-start">
              <img src="../../assets/Niveau2_fond2.png" class="img-fluid" alt="Responsive image">
            </div>
                  <div class="col-12 col-md-12 col-lg-6 offset-lg-8 pt-3 mb-4 titlecolor font-subtitle">Houston we have a problem!
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 offset-lg-8 mb-2 textcolor">
                      <p>We have an critical bug!! Houston, we have a problem!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
                  </div>
                  <div id="boutons-reponses" class="col-12 col-md-12 col-lg-4 offset-lg-8"> 
                      <div class="mb-3">
                          <button type="button" class="btn bgcolor btn-block font-weight-bold fontbuttonsize font-subtitle">Go to solve</button>
                      </div>
                  </div>
                  <div id="AfficherReponse" class="col-12 col-md-12 hidden">
                      <div class="col-12 col-md-12 col-lg-12    mb-4 titlecolor pt-4 font-subtitle">Well done!
                      </div> 
                          <div id="boutongetyourreward" routerLink="recompenseLune" class="col-12 col-md-12 col-lg-6 offset-lg-3    mb-4">
                              <a class="encrelune" href="#lune">
                              <button type="button" class="btn bgcolor    btn-block font-weight-bold fontbuttonsize font-subtitle">Get your reward</button>
                          </a>
                          </div>
                  </div>      
          </div>
  </div>
</div>

<router-outlet id = "lune"></router-outlet> 